<a href="https://colab.research.google.com/github/SwathikaGG/Sleep-Routine-Analyzer/blob/main/Sleep_Routine_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install sklearn
import tensorflow as tf
import pathlib
import numpy as np
from numpy import array
import seaborn as sb
import pandas as pd
from google.colab import drive
drive.mount('/content/grive')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sklearn in /usr/local/lib/python3.8/dist-packages (0.0.post1)
Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

In [6]:
dataset=pd.read_csv('/content/grive/My Drive/MP/SQRES.csv')
dataset.describe()

,Age,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,RESULT
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,...,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,24.538462,0.384615,0.153846,0.269231,0.115385,0.115385,0.615385,0.423077,0.500000,0.653846,...,0.192308,0.230769,0.230769,0.269231,0.230769,0.230769,0.230769,0.307692,0.576923,0.576923
std,11.479480,0.496139,0.367946,0.452344,0.325813,0.325813,0.496139,0.503831,0.509902,0.485165,...,0.401918,0.429669,0.429669,0.452344,0.429669,0.429669,0.429669,0.470679,0.503831,0.503831
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.500000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,21.000000,1.000000,0.000000,0.750000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,62.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
dataset=dataset.astype('float32')
dataset.head()

,Age,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,RESULT
0,19.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,62.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,57.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
4,20.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
print (dataset)

     Age   Q1   Q2   Q3   Q4   Q5   Q6   Q7   Q8   Q9  ...  Q51  Q52  Q53  \
0   19.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  ...  0.0  1.0  1.0
1   62.0  1.0  1.0  0.0  1.0  1.0  0.0  0.0  1.0  1.0  ...  1.0  1.0  0.0
2   57.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  ...  1.0  0.0  0.0
3   20.0  0.0  1.0  1.0  1.0  1.0  0.0  0.0  1.0  1.0  ...  0.0  1.0  1.0
4   20.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  1.0  ...  0.0  0.0  0.0
5   20.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  ...  0.0  0.0  0.0
6   21.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
7   23.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  1.0  0.0  1.0
8   20.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
9   20.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
10  32.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  ...  0.0  1.0  0.0
11  18.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  ...  0.0  1.0  0.0
12  20.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  1.0  ...  0.0  0.0  0.0
13  20.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  0.0
14  19.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  0.0
15  20.0  0.0  0.0  1.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  0.0  0.0  1.0
16  21.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  1.0  ...  0.0  0.0  0.0
17  21.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  ...  0.0  0.0  0.0
18  22.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...  0.0  0.0  1.0
19  20.0  1.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  1.0  1.0  0.0
20  20.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  1.0  0.0  0.0
21  20.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  ...  0.0  0.0  0.0
22  43.0  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  ...  0.0  0.0  0.0
23  19.0  1.0  1.0  1.0  0.0  0.0  1.0  0.0  0.0  1.0  ...  0.0  0.0  0.0
24  20.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  ...  0.0  0.0  1.0
25  21.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  ...  0.0  0.0  0.0

    Q54  Q55  Q56  Q57  Q58  Q59  RESULT
0   0.0  1.0  1.0  1.0  1.0  0.0     0.0
1   0.0  0.0  1.0  1.0  0.0  0.0     0.0
2   0.0  0.0  0.0  0.0  0.0  0.0     0.0
3   1.0  1.0  1.0  1.0  1.0  0.0     0.0
4   1.0  0.0  0.0  0.0  0.0  0.0     0.0
5   0.0  0.0  0.0  0.0  0.0  1.0     1.0
6   0.0  0.0  0.0  0.0  0.0  1.0     1.0
7   1.0  0.0  1.0  0.0  0.0  1.0     1.0
8   0.0  0.0  0.0  0.0  0.0  0.0     0.0
9   0.0  0.0  0.0  1.0  0.0  1.0     1.0
10  0.0  0.0  0.0  0.0  1.0  1.0     1.0
11  0.0  0.0  0.0  0.0  1.0  0.0     0.0
12  0.0  1.0  0.0  0.0  0.0  1.0     1.0
13  1.0  0.0  1.0  0.0  1.0  0.0     0.0
14  0.0  0.0  0.0  0.0  0.0  1.0     1.0
15  0.0  1.0  0.0  0.0  0.0  1.0     1.0
16  0.0  0.0  0.0  0.0  1.0  0.0     0.0
17  1.0  0.0  0.0  0.0  0.0  1.0     1.0
18  1.0  1.0  0.0  0.0  0.0  0.0     0.0
19  0.0  0.0  0.0  0.0  0.0  1.0     1.0
20  0.0  0.0  0.0  0.0  0.0  1.0     1.0
21  0.0  0.0  0.0  0.0  0.0  1.0     1.0
22  0.0  0.0  0.0  0.0  0.0  1.0     1.0
23  0.0  1.0  1.0  1.0  1.0  1.0     1.0
24  1.0  0.0  0.0  1.0  1.0  1.0     1.0
25  0.0  0.0  0.0  0.0  0.0  0.0     0.0

[26 rows x 61 columns]

In [9]:
dataset[:].isnull().values.sum()

0

In [12]:
X = dataset.iloc[:, 0:25].values
y = dataset.iloc[:, 25].values

In [13]:
from sklearn.preprocessing import Normalizer
scaler=Normalizer().fit(X)
from sklearn.preprocessing import MinMaxScaler
X=scaler.transform(X)
dataset.head()

,Age,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q51,Q52,Q53,Q54,Q55,Q56,Q57,Q58,Q59,RESULT
0,19.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0
1,62.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
2,57.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,20.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
4,20.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

In [15]:
dataset.shape

(26, 61)

In [16]:
from sklearn.model_selection import train_test_split

X=dataset[[ 'Age', 'Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12','Q13','Q14','Q15','Q16','Q18','Q19','Q20','Q21','Q22','Q23','Q24','Q25','Q26','Q27','Q28','Q29','Q30','Q31','Q32','Q33','Q34','Q35','Q36','Q37','Q38','Q39','Q40','Q41','Q42','Q43','Q44','Q45','Q46','Q47','Q48','Q49','Q50','Q51','Q52','Q53','Q54','Q55','Q56','Q57','Q58','Q59']]  # Features
y=dataset['RESULT']  # Labels
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [18]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.625

In [19]:
import warnings
warnings.filterwarnings('ignore')

In [20]:
# Use the forest's predict method on the test data
y_pred = clf.predict(X_test)
print(y_pred)

[1. 1. 0. 1. 1. 1. 0. 0.]

In [21]:
print(clf.predict([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]]))

[1.]

In [22]:
print(clf.predict([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., ]]))

[0.]

In [26]:
testset = pd.read_csv('/content/grive/My Drive/MP/test.csv')

In [ ]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [23]:
print(clf.predict([[1., 1., 1., 1, 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0.]]))
if(clf.predict([[1., 1., 1., 1, 1., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 1., 1., 0., 0., 0., 0., 1., 1., 0., 1., 1., 1., 1., 0.]])==0) :
    print("Improper Sleep")
else :
  print("Proper Sleep")

[0.]
Improper Sleep

In [25]:
if (clf.predict([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1.]])==0) :
  print("Improper Sleep")
else :
  print("Proper Sleep")

Proper Sleep

In [24]:
print(clf.predict([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1.]]))
if (clf.predict([[0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0., 1., 1., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1.]])==0) :
  print("Improper Sleep")
else :
  print("Proper Sleep")

[1.]
Proper Sleep